.div {
    font-family: "微软雅黑";
}




#container {
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

.container_bg {
    background: url("../assets/image/bg.jpg") no-repeat;
    background-size: 100% 100%;
}


.login_bg {
    background: url("../assets/image/login_bg.jpg") no-repeat;
    background-size: 100% 100%;
    @extend .center;
}

.login {
    height: 450px;
    width: 450px;
    background: url("../assets//image/弹窗.png") no-repeat;
    background-size: 100% 100%;
    @extend .center;
}

.login_content {
    width: 350px;
    height: 320px;
}

.login_input {
    height: 50px;
    margin-top: 40px;
    display: flex;

    .login_input_picture_username {
        width: 50px;
        background: url("../assets/image/用户名.png") no-repeat;
        background-size: 100% 100%;
    }

    .login_input_picture_password {
        width: 50px;
        background: url("../assets/image/密码.png") no-repeat;
        background-size: 100% 100%;
    }

    .login_input_input {
        width: 300px;
    }


}

.login_input_button {
    height: 50px;
    margin-top: 20px;
    @extend .center;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    background: url("../assets/image/登录.png") no-repeat;
}


.thrid {
    height: 20px;
    margin-top: 20px;
}

.forgetPassword {
    cursor: pointer;
    @extend .thrid;
    color: rgb(109, 215, 255);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.label {
    position: absolute;
    height: 20px;
    width: 50px;
    background-color: #fff;
    opacity: 0.5;
    border-radius: 5px;
}

.weather {
    position: absolute;
    top: 1%;
    left: 1%;
    color: #fff;
}



.img-title {
    position: absolute;
    background-size: 100% 100%;
    background-image: url("../assets/image/title.png");
}

.grid-content {
    border-radius: 4px;
    height: auto;
    min-height: 50px;
    position: relative;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.weather-img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.date-img {
    margin-left: 20px;
    margin-right: 10px;
    height: 30px;
    width: 30px;
}

.information-img {
    height: 40px;
    width: 40px;
    margin-right: 15px;
    margin-top: 10px;
}

.triangle-img {
    margin-left: 15px;
    width: 25px;
    height: 15px;
}

.left-table {
    height: 500px;
    width: 360px;
    position: absolute;
    top: 13%;
    color: #fff;
    font-size: 16px;
    background: url("../assets/image/装饰框1.png") top left no-repeat;
}

.left-table-single {
    height: 680px;
    width: 340px;
    position: absolute;
    top: 11%;
    left: 3%;
}

.right-table-single {
    height: 680px;
    width: 400px;
    position: absolute;
    top: 11%;
    right: 3%;
}

.left-table-single-content {
    height: 600px;
    background: url("../assets/image/底1.png") no-repeat;
    background-size: 100% 100%;
}

.left-table-single-content-new {
    height: 180px;
    background: url("../assets/image/框4.png") no-repeat;
    background-size: 100% 100%;
}

.bg-small {
    background: url("../assets/image/框5.png") no-repeat;
    background-size: 100% 100%;
}

.right-table-single-content-one {
    $myheight: 135px;
    $mywidth: 500px;

    height: $myheight;

    border: 1px rgb(96, 118, 173) solid;

    div {
        // opacity: 0.5;
        // height: 100%;
        // width: 100%;
        // background-color: rgb(11, 21, 14);
    }

    img {
        width: 15px;
        height: 15px;
        position: absolute;
    }

    img:nth-child(1) {
        top: -1px;
        left: $mywidth - 15px;
    }

    img:nth-child(2) {
        top: $myheight - 13px;
        left: $mywidth - 14px;
        transform: rotate(90deg);
    }

    img:nth-child(3) {
        top: $myheight - 12px;
        left: -0px;
        transform: rotate(180deg);
    }

    img:nth-child(4) {
        top: -0px;
        left: -1px;
        transform: rotate(270deg);
    }
}

.right-table-single-content-two {
    $myheight: 300px;
    $mywidth: 500px;

    height: $myheight;
    border: 1px rgb(96, 118, 173) solid;

    div {
        opacity: 0.5;
        height: 100%;
        width: 100%;
        background-color: rgb(11, 21, 14);
    }

    img {
        width: 15px;
        height: 15px;
        position: absolute;
    }

    img:nth-child(1) {
        top: -1px;
        left: $mywidth - 15px;
    }

    img:nth-child(2) {
        top: $myheight - 13px;
        left: $mywidth - 14px;
        transform: rotate(90deg);
    }

    img:nth-child(3) {
        top: $myheight - 12px;
        left: -0px;
        transform: rotate(180deg);
    }

    img:nth-child(4) {
        top: -0px;
        left: -1px;
        transform: rotate(270deg);
    }
}

.right-table-single-content-three {
    $myheight: 200px;
    $mywidth: 500px;

    height: $myheight;

    border: 1px rgb(96, 118, 173) solid;

    div {
        opacity: 0.5;
        height: 100%;
        width: 100%;
        background-color: rgb(11, 21, 14);
    }

    img {
        width: 15px;
        height: 15px;
        position: absolute;
    }

    img:nth-child(1) {
        top: -2px;
        left: $mywidth - 15px;
    }

    img:nth-child(2) {
        top: $myheight - 13px;
        left: $mywidth - 14px;
        transform: rotate(90deg);
    }

    img:nth-child(3) {
        top: $myheight - 12px;
        left: -0px;
        transform: rotate(180deg);
    }

    img:nth-child(4) {
        top: -0px;
        left: -1px;
        transform: rotate(270deg);
    }
}

//基础文字
.base-font {
    font-size: 16px;
    color: #ffffff;
}

.content-title-font {
    font-size: 22px;
    color: rgb(0, 228, 255);
    font-weight: normal;
}

.content-content {
    height: 40px;
    @extend .content-title-font;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-content-left {
    background: url("../assets/image/文字框1.png") no-repeat;
    background-size: 100% 100%;
}

.content-content-right {
    font-size: 24px;
    background: url("../assets/image/文字框2.png") no-repeat;
    background-size: 100% 100%;
}

.left-table-single-content-number {
    height: 125px;

    .content-title {
        @extend .content-title-font;
        height: 50px;
        display: flex;
        align-items: center;
    }

    .content-line {
        height: 16px;
        background: url("../assets/image/分割线.png") no-repeat;
        background-size: 100% 100%;
    }

    .content-content {
        height: 35px;
        @extend .content-title-font;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content-content-left {
        background: url("../assets/image/文字框1.png") no-repeat;
        background-size: 100% 100%;
    }

    .content-content-left-s {
        background: url("../assets/image/文字框3.png") no-repeat;
        background-size: 100% 100%;
    }

    .content-content-right {
        font-size: 24px;
        background: url("../assets/image/文字框2.png") no-repeat;
        background-size: 100% 100%;
    }
}

.left-table-single-title {
    height: 40px;
    background: url("../assets/image/小标题.png") no-repeat;
    color: rgb(14, 252, 255);
    background-size: 100% 100%;
    margin: 10px 0 10px 0;
    display: flex;
    align-items: center;

    font: {
        size: 22px;
        family: "微软雅黑";
        weight: bold;
    }

    div {
        margin: 20px;
    }
}

.right-table {
    @extend .left-table;
    height: 700px;
    right: 1%;
    width: 300px;
    background: url("../assets/image/装饰框2.png") top right no-repeat;
}

.left-table-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 250px;
    height: 102px;
    // background: url("../assets/image/装饰框3.png") no-repeat;
}

.left-table-content-big {
    @extend .left-table-content;
    height: 300px;
    background: url("../assets/image/小BG.png") no-repeat;
    background-size: 100% 100%;
    margin-top: 35px;
}

.right-table-content {
    @extend .left-table-content;
}

.right-table-content-new {
    width: 250px;
    height: 150px;
    // background: url("../assets/image/小BG.png") no-repeat;
    // background-size: 100% 100%;
}

.left-table-content-new {
    width: 250px;
    height: 180px;
    background: url("../assets/image/框4.png") no-repeat;
    background-size: 100% 100%;
    margin: 5px 0 0 0;

    .table-title {
        height: 30px;
        font-size: 18px;
        color: rgb(1, 220, 247);
        @extend .center;
    }

    .table-picture {
        height: 30px;
        background: url("../assets/image/装饰线.png") 50% no-repeat;

    }
}

.title {
    font-weight: bold;
    font-size: 18px;
    color: rgb(100, 223, 227);
    margin: 10px 0;
}

.border {
    border: 1px red solid;
}

.col_background {
    background-color: rgb(11, 23, 68);
    border-radius: 2px;
}

.col_background_big {
    height: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #0e1832;
    border: 2px solid rgb(80, 100, 149);
    border-radius: 5px;

    .font-big {
        font-size: 24px;
    }

    .font-small {
        font-size: 16px;
        color: rgb(80, 100, 149);
    }
}

.qrcode {
    height: auto;
    width: 240px;
    position: absolute;
    bottom: 3%;
    left: 3%;

    .el_content {
        height: 100px;
        width: 100px;
    }

    .el_bg1 {
        background-image: url("../assets/image/隐藏按钮.png");
        background-size: 100% 100%;
    }

    .el_bg2 {
        background-image: url("../assets/image/二维码图标.png");
        background-size: 100% 100%;
        justify-content: center;
        align-items: center;
        display: flex;

        div {
            height: 90px;
            width: 90px;
            background-image: url("../assets/image/qrcode.png");
            background-size: 100% 100%;
        }
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-title {
    height: 40px;
    @extend .center;
}

.bottomText {
    position: absolute;
    bottom: 1%;
    left: 50%;
    margin-left: -(300 / 1920) *100%;
    height: 55px;
    width: (600 / 1920) *100%;
    font-size: 18px;
    color: rgb(22, 117, 168);
    font-weight: bold;

    div {
        height: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}

.body-content-left {
    position: absolute;
    top: 16%;
    left: 2%;
    height: 75%;
    width: 17%;
    box-sizing: border-box;
    background: url("../assets/image/列表框.png") no-repeat;
    background-size: 100% 100%;
    @extend .center;

}

.body-content-right {
    position: absolute;
    top: 16%;
    left: 20%;
    height: 75%;
    width: 77%;
    box-sizing: border-box;
    background: url("../assets/image/通用bg.png") no-repeat;
    background-size: 100% 100%;

}

.body-content-left-content {
    height: 90%;
    width: 80%;
    margin-top: (110/1080) *100%;

    .s {
        height: (100% / 7);
        width: 100%;
        @extend .center;

        .sa {
            height: 69%;
            width: 90%;
            background: url("../assets/image/选中按钮.png") no-repeat;
            background-size: 100% 100%;
            @extend .center;
            color: #fff;
            font-size: 24px;
            font-weight: bold;
        }

        .as {
            height: 69%;
            width: 90%;

            .content-title {
                color: rgb(0, 179, 253);
                font-size: 24px;
            }

            .content-line {
                margin-top: 10px;
                height: 16px;
                background: url("../assets/image/分割线1.png") no-repeat;
                background-size: 100% 100%;
            }
        }
    }
}

.right-button {
    font-size: 22px;
    height: 55px;
    color: rgb(141, 146, 147);
    @extend .center;
    background: url("../assets/image/小标题未选中.png") no-repeat;
    background-size: 100% 100%;
}

.buttonActive {
    background: url("../assets/image/小标题选中.png") no-repeat;
    background-size: 100% 100%;
    color: rgb(240, 242, 249);

}


.body-content-right-one {
    height: 650px;
    width: 100%;
    // margin-top: 50px;

}

.quadrangle {}

.dateFrame {
    $myheight: 40px;
    $mywidth: 200px;

    margin-top: 20px;
    margin-right: 30px;
    width: $mywidth;
    height: $myheight;
    position: absolute;
    // right: 10px;
    // top: -5px;
    color: #fff;
    background: url("../assets/image/日期.png") no-repeat;
    background-size: 100% 100%;
}

.dateFrame-data {
    margin-top: 3px;
    height: 30px;
    font-size: 26px;
    color: #fff;
    @extend .center;
}

.dateFrame-icon {
    @extend .dateFrame-data;
    background: url('../assets/image/日历.png') no-repeat 100%;

}

.online {
    height: 80px;
    @extend .center;
    font-size: 30px;
    color: rgb(91, 255, 185);
    background: url("../assets/image/在线.png") no-repeat 50% 20%;
    // background-size: 150% 150%;
    ;
}

.outline {
    height: 80px;
    @extend .center;
    font-size: 30px;
    color: rgb(210, 60, 64);
    background: url("../assets/image/离线.png") no-repeat 50% 20%;
    // background-size: 125% 125%;
    ;
}

.healthy {
    @extend .center;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 16px;

    span {
        color: rgb(1, 220, 247);
        font-size: 35px;
        font-weight: bold;
    }

}

.rowName {
    background-color: oldlace !important;
}

.rowNames {
    background-color: #000 !important;

}

.timeText {
    @extend .center;
    height: 30px;
    font-size: 14px;
}

.timeTexts {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // animation: scroll 2s infinite cubic-bezier(1, 0, 0.5, 0);

    &::-webkit-scrollbar {
        display: none;
    }
}

.test {

    animation: scroll 1s linear infinite;

}

@keyframes scroll {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-20px);
    }
}

.timeText-bg {
    height: 120px;
    background-color: rgba(22, 117, 168, 0.2);
}

.dividingLine {
    border-top: 2px dotted rgb(109, 215, 255);
}

.deviceId,
.deviceName {
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    @extend .center;
    font-weight: bold;
}

.deviceId {
    border: 2px solid #fc551b;
}

.deviceName {
    border: 2px solid #CC9527;
}